# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# 4 space indentation
[CMakeLists.txt]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[*.{h,hpp,cpp,c}]
indent_style = space
indent_size = 2
